
html, body
{
	margin: 0;
	/* background-color: rgba(1,13,127,1); */
	background-color: #A5C4D4;
	color: white;
	/* overflow: hidden; */
	overflow-x: hidden;
	perspective: 1000px;
	animation: perspective 20s infinite;
	height: 100vh;
	/* scroll-behavior: smooth; */
	/* scroll-snap-type: mandatory; */
    /* scroll-snap-points-y: repeat(100vh); */
    /* scroll-snap-type: y mandatory; */
}

/* #backgroundCircles
{
	perspective: 1000px;
	height: 200vh;
	position: absolute;
	width: 100vw;
} */

h1
{
	top:0%;
	left: 7%;
}

h2
{
	text-align:center;
	top: 0;
	width: 100vw;
}

h3
{
	text-align:center;
	width: 100%;
	transform: translateZ(70px);
	bottom: -10%;

	pointer-events: none;
}

h1, h2, h3
{
	position: absolute;
	font-family: 'Righteous', cursive;
	/* font-weight:normal; */
	font-size: 5vw;
}

h4
{
	position: absolute;
	font-family: 'Righteous', cursive;
	font-size: 3vw;
	top:10%;
	left: 7%;
}

a
{
	text-decoration: none;
}

a:visited {
  color: white;
}

#top
{
	z-index: 1;
	margin: 0;
	width: 100%;
	height: 99vh;
}

#earth
{
	top: -12vw;
	left: -15.025%;
	height: 40vw;
	position: absolute;
	animation: spin 160s infinite linear;
}
@keyframes spin
{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#earthShadow
{
	top: -12vw;
	left: -15%;
	height: 40vw;
	position: absolute;
	transform: rotate(25deg);
}

#mars
{
	position: absolute;
	top: 5vw;
	left: 2.5vw;
	/* left: 50%; set at 0% of keyframes*/
	height: 11vw;
	x-transition: all 1s linear;
	animation: orbit 160s infinite linear;
	transform-origin: -30vw;
	/* transform: rotate(-30deg) translate(30vw) rotate(30deg) */
	/* animation: orbit 80s infinite, spin 20s infinite linear; */
}

@keyframes orbit
{
    from {transform: rotate(-30deg) translate(25vw) rotate(30deg) ;}
    to {transform: rotate(160deg) translate(25vw) rotate(-160deg) ;}
}
/* @keyframes orbit {
  0% {
    left: 15%;
  }
  50% {
    left: 25%;
  }
  100% {
    left: 15%;
  }
} */

#down
{
	position: absolute;
	left: 46vw;
	width: 4vw;
	bottom: 5vh;
	animation: bounceDown 2s infinite;
}

#down:hover
{
	cursor: pointer;
}

@keyframes bounceDown {
  0% {
    bottom: 5vh;
  }
  25%
  {
	bottom: 5vh;
  }
  50% {
    bottom: 7vh;
  }
  75%
  {
	bottom: 5vh;
  }
  100% {
    bottom: 5vh;
  }
}

#main
{
	z-index: 0;
	position:absolute;
	width: 100%;
	height: 100vh;
	top: 99vh;
	/* background-color:rgba(1,13,127,1); */
	/* background-color: rgb(1,13,127,1); */
	background-size: 100%, auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	/* scroll-snap-align: center; */
	perspective: 1000px;
	/* animation: pers 5s infinite linear; */
}

/* @keyframes pers
{
	from {perspective: 100px;}
    to {perspective: 1000px;}
} */
.icons
{
	position: relative;
	top: 6vh;
	display: flex;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
}

.cloud
{
	position: relative;
	height: 25%;
	width: auto;
	top: 10vh;
	opacity: 1;
}

.fromRight
{
	/* top: 15%; */
	animation: cloudsFromRight 120s infinite linear;
}

@keyframes cloudsFromRight
{
	from {left: 100%;}
    to {left: -30%;}
}

#cloud2
{
	/* right: 20%;	 */
	top:40vh;
	left:-50%;
	animation: cloudsFromLeft 120s infinite linear;
}

@keyframes cloudsFromLeft
{
	from {left: -50%;}
    to {left: 120%;}
}




#myCanvas, #staticStarCanvas
{
	/* border-style: solid;
	border-color: white; */
	/* display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
	background-color: black;
	background-size: cover;
	background-image: url(loadbg); */
	/* for star orbit not showing edge (i.e. if 100%*/
	top: -40vh;
	height: 150%;
	width: 130%;
	position: absolute;
	/* transform: scale(3.5); */
	transform-origin: 30% 30%;
	animation: starOrbit 80s infinite;
	/* background-color: black;			 */
}

@keyframes starOrbit
{
  0% {
    transform: rotate(0deg);
  }
	50%{

    transform: rotate(30deg);
	}
  100% {
    transform: rotate(0deg);
  }
}


.circleDiv
{
	border-radius: 50%;
	width:50vw;
	/* background-color: rgba(255, 215, 119, 1); */

	background-color: rgba(132, 153, 177, 1);

	/* transition:   background 3s ease 3s; */
}

.circleDiv img
{
	pointer-events: none;
}

.subCircleDiv
{
	border-radius: 50%;

	/* background-color: rgba(255, 215, 119, 0); */

	background-color: rgba(240, 200, 8, 0);

}

.subCircleDiv:hover .sub3d
{
	transform: translateZ(0px);
	cursor: pointer;
}

.games
{
	/* background-color: 	rgba(51, 153, 153, 1); */

	background-color: rgba(123, 109, 141, 1);
}

.firstCircle
{
	width:50vw;
	/* height:50vw; */
}

.mainSquare
{
	height: 25vw;
	width: 25vw;
	display: flex;
	margin: 0 auto;
	/* perspective-origin: 50% 50%; */
	transform-style: preserve-3d;
	top: 20vh;
	position: relative;
}

.mainSquare:hover
{
	/* -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotateZ(0deg); */
	/* transform-style: preserve-3d; */
	/* transform: rotateZ(45deg); */
}

.mainImage
{
	height: 15vw;
	width: 15vw;
	margin: auto;
	position: absolute;
	top: -10%; left: 0; bottom: 0; right: 0;

	-ms-transform: translateZ(100px);
  -webkit-transform: translateZ(100px);
  transform: translateZ(100px);
	opacity: 1;
}

#top .circleDiv
{
	background-color: white;
	/* background-image: url('tanx.png');
	background-repeat: no-repeat;
	background-position: 50% 50%; */
}

#top .circleDiv h3
{
	color: #7B6D8D;
	top: 8%;
	transform: translateZ(100px);
}

#top .mainImage
{
	transform: translateZ(70px);
	opacity: 0.5;
}

/* .circleDiv h1
{
	transform: translateZ(80px);

} */

.mainSquare:hover .mainImage
{
	opacity: 0;
	transform: rotate(-45deg)  translateZ(0px);
}

.mainSquare:hover .circleDiv
{
	/* This colour doesnt matter, invisible */
	background-color: rgba(255, 255, 255, 0);
}

.mainSquare:hover .subCircleDiv
{
	/* Eye BG */
	/* background-color: rgba(255, 215, 119, 1); */

	background-color: rgba(123, 109, 141, 1);
}

.mainSquare:hover .subGames
{
	/* tanx and codepen BG */
	/* background-color: rgba(51, 153, 153, 1); */
	/* background-color: rgba(6,174,213, 1); */
	background-color: rgba(132, 153, 177, 1);
}

.subOther
{
	background-color: rgba(89, 63, 98, 0);
}

.mainSquare:hover .subOther
{
	/* other BG */
	/* background-color: rgba(51, 153, 153, 1); */

	background-color: rgba(89, 63, 98, 1);
}

.mainSquare:hover h3
{
	transform: translateZ(0px);
	opacity: 0;
}

.subImage
{
	width: 5vw;
	height: 5vw;
	position: absolute;
	opacity: 0;
}

.subImage:hover
{
	transform: translateZ(50px) rotate(20deg);
	z-index: 1;
}

.mainSquare:hover .subImage
{
	width: 12vw;
	height: 12vw;
	opacity: 1;
}

.mainSquare:hover .sub3d
{
	/* transform: translateZ(50px); */
	opacity: 1;
}

.sub3d
{
	/* width: 80%; */
	transform: translateZ(50px);
	z-index: 2;
	opacity: 0;
}

.sub img
{
	width:70%;

	margin: auto;
	position: absolute;
	top: 0%; left: 0; bottom: 0; right: 0;
}

.sub
{
	width: 5vw;
	height: 5vw;
	position: absolute;
	/* opacity: 0; */
}
/* .sub:hover
{
	transform: rotate(20deg);
	z-index: 1;
} */

.circleDiv:hover .sub
{
	transform: rotate(20deg);
	z-index: 1;
}

.mainSquare:hover .sub
{
	width: 12vw;
	height: 12vw;
	opacity: 1;
}

.topLeft
{
	top: 0;
	left: 0;
	/* transform: translateZ(50px); */
}

.topRight
{
	top: 0;
	right: 0;
}

.botLeft
{
	bottom: 0;
	left: 0;
	/* border: 0px solid blue;
	border-width: 10px; */
}

.botRight
{
	bottom: 0;
	right: 0;
	/* transform: translateZ(100px); */
}

.botCenter
{
	bottom: 0;
	/* left:0; */
	/* margin: 0; */
	/* margin-left: auto;
	margin-right: auto;	 */
}

.randomDiv
{
	width: 100px;

	height: 100px;
	/* background-color: blue; */
	position: absolute;
	opacity: 0.5;
	border-radius: 50%;
	border: 10px solid red;
	/* animation: pers 3s infinite; */

}
/*TODO: should be only for scale and rotate z, translate z */
.animated
{
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	/* transition:   transform 1s ease 2s;  */
	transition:   transform 0.25s ease 0s opacity 0.5s ease 0s;
}

#top .animated
{
	transition: all 1s ease 0s;
}

.subImageAnimated
{
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	transition: transform 0.25s ease 0s all 0.5s ease 0s;
}

/* righteous-regular - latin */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'),
       url('../fonts/righteous-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/righteous-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@keyframes perspective
{
	 0% { perspective-origin: 40% 15%;}
	 25% { perspective-origin: 60% 15%;}
	 50% { perspective-origin: 60% 45%;}
	 75% { perspective-origin: 40% 45%;}
	 100% { perspective-origin: 40% 15%;}
}

----------------------------------------------------------
