
html, body
{
	margin: 0;
	/* background-color: rgba(1,13,127,1); */
	background-color: #A5C4D4;
	color: white;
	/* overflow: hidden; */
	overflow-x: hidden;
	/* perspective: 90vw; */
	/* perspective: 1000px; */
	animation: perspective 20s infinite;
	height: 100vh;
	/* scroll-behavior: smooth; */
	/* scroll-snap-type: mandatory; */
    /* scroll-snap-points-y: repeat(100vh); */
    /* scroll-snap-type: y mandatory; */
}



h1
{
	top: -1vw;
	left: 2vw;
}

#mainTitle
{
	/* margin-top: 2vw; */
	/* top: 0; */
	/* width: 30%; */
	font-size: 3.5vw;
	position: fixed;
}

h2
{
	text-align:center;
	top: 0;
	width: 100vw;
}

h3
{
	text-align:center;
	width: 100%;
	transform: translateZ(5vw);
	bottom: -10%;

	pointer-events: none;
}

h1, h2, h3
{
	position: absolute;
	font-family: 'Righteous', cursive;
	/* font-weight:normal; */
	font-size: 5vw;
}

h4
{
	position: fixed;
	font-family: 'Righteous', cursive;
	font-size: 2vw;
	top:3vw;
	left: 2vw;

	color: #f0c808;
}

p
{
	font-family: 'Lato', sans-serif;
	/* font-family: 'Righteous', cursive; */
	bottom: 20%;
	left: 20%;
	width: 70%;
	transform: translateZ(7vw);
	position: absolute;
	color: #7B6D8D;
	font-size: 2vw;
}

a
{
	text-decoration: none;
}

a:visited {
  color: white;
}

.bold
{
	font-weight: bolder;
	color: #7B6D8D;
}

.textAndImage
{
	display: flex;
}

.textAndImage p
{
	width: 40%;
	margin-right: 4vw;
}

.textAndImage img
{
	height: 30vw;
}

#top
{
	z-index: 1;
	margin: 0;
	width: 100%;
	height: 99vh;
	perspective: 100vw;
	/* overflow-y: scroll; adds scrolling perspective change effect for background */
	animation: perspective 20s infinite;
}

#top .mainSquare
{
	cursor: pointer;
}

#top .mainSquare:hover .mainImage
{
	opacity: 1;
	transform: translateZ(8vw);
}

#down
{
	position: absolute;
	left: 46vw;
	width: 4vw;
	bottom: 5vh;
	animation: bounceDown 2s infinite;
}

#down:hover
{
	cursor: pointer;
}

.bgCircle
{
	border-radius: 50%;
	opacity: 0.5;
	position: fixed;
}

#behindCircle
{
	background-color: #593F62;
	width: 15vw;
	height: 15vw;
	top: -5vw;
	left: -5vw;
}

#behindCircleTwo
{
	background-color: #7B6D8D;
	width: 12vw;
	height: 12vw;
	top: -1vw;
	left: 6vw;
}
#behindCircleThree
{
	background-color: #8499B1;
	width: 15vw;
	height: 15vw;
	top: -6vw;
	right: -3vw;
}

#behindCircleFour
{
	background-color: #8499B1;
	width: 12vw;
	height: 12vw;
	top: -4vw;
	right: 7vw;
}

.menuIcons
{
	width: 3vw;
	position: fixed;
	top: 4vh;
}

#githubIcon
{
	right: 3vw;
}
#cvIcon
{
	right: 8vw;
}
#contactIcon
{
	right: 13vw;
}

@keyframes bounceDown {
  0% {
    bottom: 5vh;
  }
  25%
  {
	bottom: 5vh;
  }
  50% {
    bottom: 7vh;
  }
  75%
  {
	bottom: 5vh;
  }
  100% {
    bottom: 5vh;
  }
}

#main
{
	z-index: 0;
	position:absolute;
	width: 100%;
	height: 100vh;
	top: 99vh;
	/* background-color:rgba(1,13,127,1); */
	/* background-color: rgb(1,13,127,1); */
	background-size: 100%, auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	/* scroll-snap-align: center; */
	perspective: 60vw;
	/* perspective: 1000px; */
	/* animation: pers 5s infinite linear; */
}

#perspective
{
	perspective: 90vw;
}

.icons
{
	position: relative;
	top: 6vh;
	display: flex;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
}

.circleDiv
{
	border-radius: 50%;
	width:50vw;
	/* background-color: rgba(255, 215, 119, 1); */

	background-color: rgba(132, 153, 177, 1);

	/* transition:   background 3s ease 3s; */
}

.circleDiv img
{
	pointer-events: none;
}

.subCircleDiv
{
	border-radius: 50%;

	/* background-color: rgba(255, 215, 119, 0); */

	background-color: rgba(240, 200, 8, 0);

}

.subCircleDiv:hover .sub3d
{
	transform: translateZ(0vw);
	cursor: pointer;
}

.games
{
	/* background-color: 	rgba(51, 153, 153, 1); */

	background-color: rgba(123, 109, 141, 1);
}

.firstCircle
{
	width:50vw;
	/* height:50vw; */
}

.mainSquare
{
	height: 25vw;
	width: 25vw;
	display: flex;
	margin: 0 auto;
	/* perspective-origin: 50% 50%; */
	transform-style: preserve-3d;
	top: 20vh;
	position: relative;
}

.mainSquare:hover
{
	/* -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotateZ(0deg); */
	/* transform-style: preserve-3d; */
	/* transform: rotateZ(45deg); */
}

.mainImage
{
	height: 60%;
	width: 60%;
	/* height: 15vw;
	width: 15vw; */
	margin: auto;
	position: absolute;
	top: -10%; left: 0; bottom: 0; right: 0;

	-ms-transform: translateZ(8vw);
  -webkit-transform: translateZ(8vw);
  transform: translateZ(8vw);
	opacity: 1;
}

#top .circleDiv
{
	background-color: white;
	/* background-image: url('tanx.png');
	background-repeat: no-repeat;
	background-position: 50% 50%; */
}

#top .circleDiv h3
{
	color: #593F62;
	top: 8%;
	transform: translateZ(8vw);
}

#top .mainImage
{
	transform: translateZ(4vw);
	opacity: 0.3;
}

/* .circleDiv h1
{
	transform: translateZ(80px);

} */

.mainSquare:hover .mainImage
{
	opacity: 0;
	transform: rotate(-45deg)  translateZ(0vw);
}

.mainSquare:hover .circleDiv
{
	/* This colour doesnt matter, invisible */
	background-color: rgba(255, 255, 255, 0);
}

.mainSquare:hover .subCircleDiv
{
	/* Eye BG */
	/* background-color: rgba(255, 215, 119, 1); */

	background-color: rgba(123, 109, 141, 1);
}

.mainSquare:hover .subGames
{
	/* tanx and codepen BG */
	/* background-color: rgba(51, 153, 153, 1); */
	/* background-color: rgba(6,174,213, 1); */
	background-color: rgba(132, 153, 177, 1);
}

.subOther
{
	background-color: rgba(89, 63, 98, 0);
}

.mainSquare:hover .subOther
{
	/* other BG */
	/* background-color: rgba(51, 153, 153, 1); */

	background-color: rgba(89, 63, 98, 1);
}

.mainSquare:hover h3
{
	transform: translateZ(0vw);
	opacity: 0;
}

.mainSquare:hover p
{
	transform: translateZ(0vw);
	opacity: 0;
}

.subImage
{
	width: 5vw;
	height: 5vw;
	position: absolute;
	opacity: 0;
}

.subImage:hover
{
	transform: translateZ(4vw) rotate(20deg);
	z-index: 1;
}

.mainSquare:hover .subImage
{
	width: 12vw;
	height: 12vw;
	opacity: 1;
}

.mainSquare:hover .sub3d
{
	/* transform: translateZ(50px); */
	opacity: 1;
}

.sub3d
{
	/* width: 80%; */
	transform: translateZ(4vw);
	z-index: 2;
	opacity: 0;
}

.sub img
{
	width:70%;

	margin: auto;
	position: absolute;
	top: 0%; left: 0; bottom: 0; right: 0;
}

.sub
{
	width: 5vw;
	height: 5vw;
	position: absolute;
	/* opacity: 0; */
}
/* .sub:hover
{
	transform: rotate(20deg);
	z-index: 1;
} */

.circleDiv:hover .sub
{
	transform: rotate(20deg);
	z-index: 1;
}

.mainSquare:hover .sub
{
	width: 12vw;
	height: 12vw;
	opacity: 1;
}

.topLeft
{
	top: 0;
	left: 0;
	/* transform: translateZ(50px); */
}

.topRight
{
	top: 0;
	right: 0;
}

.botLeft
{
	bottom: 0;
	left: 0;
	/* border: 0px solid blue;
	border-width: 10px; */
}

.botRight
{
	bottom: 0;
	right: 0;
	/* transform: translateZ(100px); */
}

.botCenter
{
	bottom: 0;
	/* left:0; */
	/* margin: 0; */
	/* margin-left: auto;
	margin-right: auto;	 */
}

.randomDiv
{
	width: 10vw;

	height: 10vw;
	/* background-color: blue; */
	position: absolute;
	opacity: 0.5;
	border-radius: 50%;
	border: 10px solid red;
	/* animation: pers 3s infinite; */

}

.topFixed
{
	position: fixed;
	top: 20vw;
	perspective: none;
}

.caseStudy
{
	position: absolute;
	width: 90vw;
	left: 5vw;
	/* margin-left: auto;
	margin-right: auto; */
	top: 5vw;
	background-color: rgba(255,255,255, 0.8);
	display: none;
	opacity: 0;
}

.caseStudy h1
{
	position: relative;
	/* width: 85%; */
	text-align: center;
	color: #7B6D8D;
}

.caseStudy p
{
	/* width: 50%; */
	color: black;
	position: relative;
	transform: translateZ(0vw);
	font-size: 20px;
	/* font-size: 1.7vw; */

	margin-top: 0;
	margin-bottom: 5vw;
	margin-left: 7vw;
	left: 0;
	text-align: justify;
}

.caseVid
{
	position: relative;
	width: 73.5vw;
	height: 42vw;
	margin-left: 8.25vw;
}

.caseStudy img
{
	width: 30vw;
	margin-left: 5vw;
	margin-bottom: 5vw;
}

/*TODO: should be only for scale and rotate z, translate z */
.animated
{
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	/* transition:   transform 1s ease 2s;  */
	transition:   transform 0.25s ease 0s opacity 0.5s ease 0s;
}

.animatedCircles
{
	transition: all 4s ease 0s;
}

.animatedTop
{
	transition: all 2s ease 0s;
}

#top .animated
{
	transition: all 1s ease 0s;
}

.subImageAnimated
{
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	transition: transform 0.25s ease 0s all 0.5s ease 0s;
}

.caseDescription
{
	width: 50%;
	font-size: 20px;
}

.button
{
	position: absolute;

	background-color: Transparent;
	border: solid;
	border-color: #7B6D8D;
	border-width: 0.3vw;
	letter-spacing: 0.2vw;
	color: #7B6D8D;
	padding-top: 1vw;
	padding-bottom: 1vw;
	text-align: center;
	font-family: 'Righteous', sans-serif;
	font-size: 1.1vw;
	font-weight: bold;
	cursor: pointer;
	display: inline;
	width:11vw;
	top: 13vw;
}

.rightButton
{
	right: 9vw;
	/* top: 12vw; */
}

.leftButton
{
	right: 22vw;
	/* top: 12vw; */
}

.button:hover
{
	color: white;
	background-color: #7B6D8D;
}

/* righteous-regular - latin */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'),
       url('../fonts/righteous-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/righteous-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



@keyframes perspective
{
	 0% { perspective-origin: 40% 15%;}
	 50% { perspective-origin: 60% 15%;}
	 100% { perspective-origin: 40% 15%;}
}

@keyframes perspectiveSmallScreens
{
	 0% { perspective-origin: 20% 15%;}
	 50% { perspective-origin: 90% 15%;}
	 100% { perspective-origin: 20% 15%;}
}

@keyframes rotateIcons
{
	 0% { transform: rotateY(-10deg) rotateX(-5deg);}
	 50% { transform: rotateY(10deg) rotateX(5deg);}
	 100% { transform: rotateY(-10deg) rotateX(-5deg);}
}



@media screen and (max-width: 500px)
{
	h3
	{
		font-size: 8vw;
	}

	p
	{
		font-size: 3.5vw;
		width: 70%;
	}

	.menuIcons {
    width: 10vw;
    top: 1vh;
	}

	#contactIcon {
    right: 30vw;
	}
	#cvIcon {
    right: 16.5vw;
}

#behindCircleFour {
	width: 32vw;
	height: 32vw;
	top: -13vw;
	right: 14vw;
}

#behindCircleThree {
	width: 35vw;
	height: 35vw;
	top: -14vw;
	right: -8vw;
}

#mainTitle {
    font-size: 8vw;
    top: -4vw;
	}

	#behindCircle {
    width: 25vw;
    height: 25vw;
    top: -5vw;
    left: -5vw;
}

#behindCircleTwo {
    width: 22vw;
    height: 22vw;
    top: -3vw;
    left: 12vw;
}

	h4
	{
		font-size: 4vw;
    top: 4.5vw;
    left: 2vw;
	}


	.icons
	{
		display: block;
		top: -1vh;
		/* animation: pers 5s infinite; */

	}

	.mainSquare:nth-of-type(2)
	{
		margin-top: 10vh;
	}

	.mainSquare
	{
		height: 45vw;
		width: 45vw;
		animation: rotateIcons 5s infinite;
	}

	#top
	{
		perspective: 120vw;
		animation: perspectiveSmallScreens 15s infinite;
	}

	#main
	{
		perspective: 120vw;
	}

	.textAndImage
	{
		display: block;
	}

	.textAndImage img
	{
		width: 100%;
	}

	.caseStudy
	{
		top: 25vw;
	}

	.caseStudy h1
	{
		font-size: 8vw;
	}

	.caseStudy p
	{
		font-size: 16px;
		width: 80%;
		left: 10%;
		margin-left: 0;
	}

	.button
	{
		position: relative;
		top:0;
		font-size: 3vw;
		width: 25vw;
		border-width: 0.7vw;
	}

	.leftButton
	{
		/* top:0; */
		right: 0;
		margin-left: 20vw;
		margin-top: 5vw;
	}

	.rightButton
	{
		right: 0;
	}

	.caseVid
	{
		margin-top: 10vw;
	}

	.caseStudy img
	{
    width: 80vw;
    height: 80vw;
	}

	.mainSquare:hover .sub
	{
		width: 20vw;
		height: 20vw;
	}

	.sub
	{
		width: 10vw;
		height: 10vw;
	}

	/* .mainImage
	{
		width
	} */
}
